@import url(default.css);

*{
  font-family: 'SamsungOneKorean 400';
  font-style: normal;
}
a{
  color: inherit;
}
.inner{
  width: 1200px;
  margin: 0 auto;
}
button{
  cursor: pointer;
}

/* header */
header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header h1 a{
  display: block;
  width: 128px;
  height: 88px;
  background: url(../img/ci_white_128.png)no-repeat center / 100%;
  margin-left: -14px;
}
header .inner{
  height: 112px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 24px;
  box-sizing: border-box;
  color: #fff;
}
.header_utill{
  position: absolute;
  right: 0;
  top: 0;
}
.header_menu{
  display: flex;
  width: 558px;
}
.header_menu ul{
  display: flex;
  gap: 48px;
  line-height: 87px;
  font-size: 24px;
  font-weight: 600;
}
.ico_menu{
  display: flex;
  gap: 16px;
  padding: 24px 0;
}
.ico_menu button{
  width: 40px;
  height: 40px;
  color: #fff;
}
.ico_mypage button{
  background: url(../img/ico_my_white.png)no-repeat center/100%;
}
.ico_search button{
  background: url(../img/ico_search_modeW.png)no-repeat center/100%;
}
.ico_allmenu button{
  background: url(../img/ico_allmenu_white.png)no-repeat center/100%;
}
.ico_allmenu{
  width: 98px;
  position: relative;
}
.ico_allmenu span{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header_utill{
  position: absolute;
  top: 15px;
  right: 0;
}
.header_utill ul{
  display: flex;
  gap: 20px;
  font-size: 13px;
}

/* sub_header */
/* header .sub_header{
  color: #000;
}
header h1 a{
  background: url(../img/ci_128.png)no-repeat center / 100%;
}
.ico_mypage button{
  background: url(../img/ico_my.png)no-repeat center/100%;
}
.ico_search button{
  background: url(../img/ico_search.png)no-repeat center/100%;
}
.ico_allmenu button{
  background: url(../img/ico_allmenu.png)no-repeat center/100%;
}
.ico_menu button{
  color: #000;
} */


/* footer */
.footer_wrap{
  position: relative;
  padding-bottom: 66px;
}
.blue_box{
  background-color: #0a1f55;
  font-size: 20px;
}
.blue_box .inner{
  color: #00B4E6;
  line-height: 72px;
  text-align: center;
}
.blue_box span{
  margin-right: 15px;
}
.blue_box a{
  vertical-align: top;
}
.blue_box span::before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/ico_clock.png) no-repeat center / 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.info_call{
  background-color: #f4f4f4;
}
.info_call ul{
  display: flex;
}
.info_call ul li{
  width: 300px;
  line-height: 67px;
  text-align: center;
  position: relative;
}
.info_call ul li strong{
  font-weight: 700;
}
.info_call ul li~li::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 17px;
  background-color: #e8e8e8;
  position: absolute;
  top: 24px;
  left: 0;
}

.nav_footer{
  padding: 35px 0;
}
.nav_footer ul{
  display: flex;
}
.nav_footer ul li{
  margin-right: 30px;
  font-weight: 600;
}

.info_footer>a{
  display: block;
  float: left;
  width: 200px;
  height: 62px;
  background: url(../img/bi_200.png) no-repeat 50%;
  margin-left: -38px;
  margin-top: -8px;
  background-size: auto 100%;
}
.info_footer .info{
  font-size: 12px;
  font-weight: 700;
}
.info_footer .info ul{
  display: flex;
}
.info_footer .info ul li a{
  margin-right: 10px;
}
.info_footer .info ul li a:last-child{
  margin-right: 0;
}
.info_footer .info ul li a:nth-child(1){
  color: #00B4E6;
}
.info_footer .info ul li~li::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #e8e8e8;
  vertical-align: middle;
  margin: 0 8px;
}
.copy{
  margin-top: 10px;
}

.footer_sns{
  display: flex;
}
.footer_sns button{
  width: 48px;
  height: 48px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 25px;
}
.footer_sns li:nth-child(1) button{
  background: url(../img/ico_kakao.png) no-repeat 50% 50%;
  background-size: 1.5rem 24px;
  right: 60px;
}
.footer_sns li:nth-child(2) button{
  background: url(../img/ico_youtube.png)  no-repeat 50% 50%;
  background-size: 1.5rem 24px;
  right: 0;
}